[submodule "hemem"]
	path = hemem
	url = https://github.com/webglider/hemem.git
[submodule "apps/gapbs"]
	path = apps/gapbs
	url = https://github.com/sbeamer/gapbs.git
[submodule "apps/silo"]
	path = apps/silo
	url = https://github.com/stephentu/silo.git
[submodule "apps/CacheLib"]
	path = apps/CacheLib
	url = https://github.com/facebook/CacheLib.git
[submodule "apps/memory_microbenchmarks/extern/spdlog"]
	path = apps/memory_microbenchmarks/extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "apps/MemoryBenchmark"]
	path = apps/MemoryBenchmark
	url = https://github.com/Kadle11/MemoryBenchmark
